/* styles.css */
   body {
       background-color: #b0c4de;
   }

   h1 {
     color: #2a5298
   }

    #button-list {
     height: 100%;
     width: 60px;
     background-color: #003366;
     position: fixed;
     left: 0;
     z-index: 30;
     font-size: 15px;
    }
    h1 {
        padding-left: 70px;
    }
   
